body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#jumbo {
    background-color: rgb(0, 0, 0);
}

#about {
    background-color: #a5a5a5;
    border-radius: 3%;
}

div h1 {
    font-size: 70px;
}

.navbar-toggler {
    align-items: center;
}

#ui {
    width: 50px;
    height: 50px;
}

.judul {
    font-size: 300;
    font-weight: 900;
    font-size-adjust: inherit;
}

.table {
    color: aquamarine;
}

#bio {
    color: rgb(127, 255, 212, 0.5)
}

.sosmed {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

a i {
    margin: 10px;
}

.rowContact {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 300px;
}

div h3 img {
    margin: 10px;
}

.first {
    color: #FB4264;
    font-size: 20vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    text-align: center;
    align-items: center;
}

.first {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes first {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #020aff, .5vw .5vw .1vw #4c077e;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.first {
    animation: first 2s linear infinite;
    -moz-animation: first 2s linear infinite;
    -webkit-animation: first 2s linear infinite;
    -o-animation: first 2s linear infinite;
}

.imgabout {
    width: 100%;
    height: auto;
    border-radius: 10%;
}


footer {
    color: rgb(143, 143, 143);
    margin-bottom: 0px;
}