<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/profile.jpeg' %}">
    <title>Welcome to my profile</title>
</head>

<body>
    <div class="backImg">
        <div class="profile">
            <img src="{% static 'home/oba.jpg' %}" alt="">
            <div class="biodata">
                <h2>Oba Pakpahan</h2>
                <h3 class="npm">1906299074</h3><br>
                <h3>I'm a web design and programming student of Computer Science Faculty, Universitas Indonesia</h2>
                   <a href="Home"><h3 style="color: rgb(226, 43, 43);">Back</h3></a> 
            </div>
            <div class="sosmed">
                <a href="https://id-id.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="https://www.instagram.com/obapkhn_2001/"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/oba-pakpahan-0a1057199/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="obapakpahan01@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>

            </div>
        </div>
    </div>
    <div class="school">
        <div class="about">
            <h1>
                </br>About me</h1>
        </div>
        <div class="quote">
            <blockquote class="text">
                <p>I'm an Information System student that is studying web design and programming. This website was made by me to complete my home work in web design and programming. Thank you for visiting my website.
                </p>
            </blockquote>
        </div>
        <div class="tabel">
            <h1>Education</h1>
            </br>
            <table>
                <tr>
                    <th>Elementary</th>
                    <td>SDN 174584 Parsorminan</td>
                </tr>
                <tr>
                    <th>Junior High</th>
                    <td>SMPN 6 Pangaribuan</td>
                </tr>
                <tr>
                    <th>High school</th>
                    <td>SMAN 3 Tarutung</td>
                </tr>
                <tr>
                    <th>College</th>
                    <td>Universitas Indonesia</td>
                </tr>
            </table>
        </div>
        <div class="hobbie">
            <h1>
                </br>My Hobbies</h1>

            <ul>
                <li>
                    Swimming
                </li>
                <li>
                    Watching Movies
                </li>
                <li>
                    Listening to Musics
                </li>
            </ul>
        </div>
    </div>
</body>

</html>