<!DOCTYPE html>
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

  <title>Daftar Buku</title>
</head>

  
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="Home">Oba Pakpahan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="Home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="About">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Bio">Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Edu">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Expe">Experiences</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tasks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="story1">Task-1</a>
                    <a class="dropdown-item" href="daftar">Task-5</a>
                    <a class="dropdown-item" href="task-7">Task-7</a>
                    <a class="dropdown-item" href="daftar-buku">Task-8</a>
                    <a class="dropdown-item" href="addition">Addition</a>
                  </div>
                </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#" style="margin-left: 300px;">Halo <b>{{ request.user.username }}</b>!</a>
              </li>
                
                <li class="nav-item"><a class="nav-link" href="logout" >Logout</a>
                </li>
              
              {% else %}
              
              <li class="nav-item">
                <a class="nav-link" href="register" style="margin-left: 300px;">Register</a>
              </li>
                
                <li class="nav-item" ><a class="nav-link" href="login">Login</a>
                </li>
              {% endif %}
          
            </ul>
            </div>
      </div>
  </nav>
</header>
<body style="margin-top: 100px;">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center; font-size: 50px; color: rgba(1, 146, 1, 0.693);">Search Books For Reading</h1><br>
     <img src="{% static 'img/booksa.jpg' %}" alt="" style="border-radius: 10%; margin-left: 100px;">
      
    </div>
    <div class="col" >
      {% if not user.is_authenticated %}
      
      <p style="color: aqua;"><i>Login for better experience!</i></p>

      {% endif %}
        <input id="kataKunci" placeholder="Masukkan Judul buku">
        <input type="submit" value="Mencari">
      <table id="hasil" border="1" style="background-color: rgb(0, 0, 44);">

      </table>
    </div>
  </div>
  

   <!-- <script src="{% static 'js/jq.js' %}"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript">
        $('#kataKunci').keyup(function(){
          var kunci = $('#kataKunci').val();
          console.log(kunci);
          $.ajax({
            url: '/data?q=' + kunci,
            success: function(data){
              // console.log(data);
              var array_items = data.items;
              $('#hasil').empty();
              for (i=0; i<array_items.length; i++){
                  var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                  var judul = array_items[i].volumeInfo.title;
                  var penerbit = array_items[i].volumeInfo.publisher;
                  var link = array_items[i].volumeInfo.previewLink;
                  // var desc =  array_items[i].
                  $('#hasil').append('<tr><td ><img src=' + gambar + '></td><td style="line-height:0.5;"><h3><a href="' + link + '">' + judul + '</a></h3><br><span style="color: white;">' + penerbit+ '</span></td></tr>');
              }
            }
          });
    });
      </script>
      

      <script src=" https://code.jquery.com/jquery-3.5.1.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
</html>