{% extends 'story4/base.html' %}
{% load static %}


{% block judul %}
<title>About</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container" class="responsive">
        <div class="row">
            <div class="col"></div>
            <div class="col" style="text-align: center;">
                <h1 class="judul"><br> About Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="imgabout" src="{% static 'about.png' %}" alt="a">
            </div>
            <div class="col">
                <P>Hello there!
                    <br> I'm Oba, an information system student who is learning web design and programming. This website is a profile website that contain a little bit information about me.
                    <br> Thank You for Visiting my website.
                    <a><i class="fa fa-smile-o"></i></a> <br><br><br><br><br><br><br><br><br><br><br><br></P>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}