<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    {% block judul %}
    {% endblock judul %}
</head>

    
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="Home">Oba Pakpahan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Bio">Bio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="Edu">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Expe">Experiences</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="story1">Task-1</a>
                      <a class="dropdown-item" href="daftar">Task-5</a>
                      <a class="dropdown-item" href="kegiatan">Task-6</a>
                      <a class="dropdown-item" href="task-7">Task-7</a>
                      <a class="dropdown-item" href="daftar-buku">Task-8</a>
                      <a class="dropdown-item" href="addition">Addition</a>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
</header>
{% block body %}
{% endblock body %}
<footer>
    <p style="text-align: center;">&copy; Copyright 2020</p>
</footer>

</html>