{% extends 'story4/base.html' %}
{% load static %}


{% block judul %}
<title>Bio</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center">
                    <br> My Bio<br></h1>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <td> Name</td>
                        <td>Oba Pakpahan</td>
                    </tr>
                    <tr id="bio">
                        <td>Nick Name</td>
                        <td>Oba</td>
                    </tr>
                    <tr>
                        <td>Student ID</td>
                        <td>1906299074</td>
                    </tr>
                    <tr id="bio">
                        <td>Major</td>
                        <td>Information System</td>
                    </tr>
                    <tr>
                        <td>Faculty</td>
                        <td>Computer Science</td>
                    </tr>
                    <tr id="bio">
                        <td>Batch</td>
                        <td>2019 AKA Maung</td>
                    </tr>
                    <tr>
                        <td>College</td>
                        <td>Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td id="bio">Hobbies</td>
                        <td>
                            <ul>
                                <li id="bio">Watching Movies</li>
                                <li>Listening to Musics</li>
                                <li id="bio">Swimming</li>
                                <li>Watching Movies</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Jakarta</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}