{% extends 'story4/base.html' %}
{% load static %}

{% block judul %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container ">
        
        <div class="rowContact ">
            <div class="first " style="text-align: center;">
                <h1><br><br>Connect With Me on:<br><br>
                </h1>
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <div class="sosmed ">
                    <a href="https://id-id.facebook.com/oba.pakpahan "><i class="fa fa-facebook-square fa-3x "></i></a>
                    <a href="https://www.instagram.com/obapkhn_2001/ "><i class="fa fa-instagram fa-3x "></i></a>
                    <a href="https://www.linkedin.com/in/oba-pakpahan-0a1057199/ "><i class="fa fa-linkedin-square fa-3x "></i></a>
                    <a href="https://twitter.com/login?lang=id "><i class="fa fa-twitter-square fa-3x "></i></a><br><br><br><br><br><br>

                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}