{% extends 'story4/base.html' %}
{% load static %}

{% block judul %}
<title>Mata kuliah</title>
{% endblock judul %}
{% block body %}
<p>
    <br><br><br><br>
</p>
<form method="POST"> 
    {% csrf_token %}
    Serius mau dihapus?
    <input type="submit" value="Yes"/>
    <a href="/">Cancel</a>
</form>

{% endblock body %}