{% extends 'story4/base.html' %}

{% load static %}

{% block judul %}
<title>Education</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center">
                <h1 style="font-size: 70px;">
                    <br>Education
                    <br></h1>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: bisque;">
                <h3><br>College<br>
                    <img class="rounded-circle" id="ui" src="{% static 'ui.png' %}" alt="UI"><br>Universitas <br>Indonesia </h3>
            </div>
            <div class="col">
                <p style=" font-size: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(255, 255, 255);"><br><br> 2019 - now</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <p style=" font-size: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(255, 255, 255);"><br><br> 2016 - 2019</p>
            </div>
            <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: bisque;">
                <h3><br>High School<br>
                    <img class="rounded-circle" id="ui" src="{% static 'smantig.jpg' %}" alt="UI"><br>SMAN 3 <br>Tarutung</h3>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: bisque;">
                <h3><br>Junior High<br>
                    <img class="rounded-circle" id="ui" src="{% static 'smp.png' %}" alt="UI"><br>SMPN 6 <br>Pangaribuan </h3>
            </div>
            <div class="col">
                <p style=" font-size: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(255, 255, 255);"><br><br> 2013 - 2016</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <p style=" font-size: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(255, 255, 255);"><br><br> 2008 - 2013</p>
            </div>
            <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: bisque;">
                <h3><br>Elementary<br>
                    <img class="rounded-circle" id="ui" src="{% static 'sd.jpg' %}" alt="UI"><br>SDN 174584 <br>Parsorminan<br><br></h3>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}