{% extends 'story4/base.html' %}
{% load static %}


{% block judul %}
<title>Experiences</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center">
                <h1 class="display-4" style="font-size: 50px;">
                    <br> Experiences <br><br>
                </h1>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col"><img class="imgabout" src="{% static 'workshop.jpg' %}"></div>
            <div class="col">
                <h3>Workshop</h3>
                <p style="text-align: left;">
                    <br> Pada workshop yang diadakan Gama Statistika tersebut, saya belajar hal-hal atau skill-skill yang perlu disiapkan untuk menjadi seorang Data Scientist, seperti problem solving, visualisasi data dll.</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <h3><br>Volunteer</h3>
                <p style="text-align: left;">
                    <br> Saya pernah menjadi volunteer sebagai pengajar kimia di Betis (bimbingan belajar gratis) yang membantu siswa-siawa kelas 12 untuk membantu mempersiapkan diri mereka menghadapi Seleksi Masuk Perguruan Tinggi yang diadakan Fasilkom
                    UI
                </p>
            </div>
            <div class="col"><img class="imgabout" src="{% static 'volunteer.jpg' %}"></div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <img class="imgabout" src="" alt="Soon"></div>
            <div class="col">
                <h3><br>Committee</h3>
                <p style="text-align: left;">
                    <br> Saya pernah menjadi panitia OKK UI tahun 2020 yaitu sebagai Mentor OKK. Pada pengalaman ini, saya mengenalkan lingkungan UI terhadap mahasiswa baru 2020.
                </p>
            </div>

        </div>
        <div class=" row " style="text-align: center; ">
            <div class="col ">
                <p><br></p>
            </div>
            <div class="col "></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}