{% extends 'story4/base.html' %}

{% load static %}

{% block judul %}
<title>Home</title>
{% endblock judul %}

{% block body %}
    <body>
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="height: 600px;">
        <div class="container text-center">
            <img src="{% static 'oba.jpg' %}" width="300" class="rounded-circle" style="float:center; width:250px; height:250px; margin-top: 60px;">
            <h1 class="display-4">Oba Pakpahan</h1>
            <p class="lead">College Student</p>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}