{% extends 'story4/base.html' %}
{% load static %}


{% block judul %}
<title>Mata kuliah</title>
{% endblock judul %}
{% block body %}
    <body>
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron" style="color: rgb(0, 0, 0);">
                <h1 class="display-4" >Daftar Mata Kuliah</h1>
                <hr class="my-4">
                <form action="" method="POST" autocomplete="off">
                    <table class="table" style="color: rgb(0, 0, 0);text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col" >No</th>
                                <th scope="col" >Matkul</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr>
                                    <th class="row-mid" >{{forloop.counter}}</th>
                                    <td>{{post.namaMK}}</td>
                                    <td> <a class="btn btn-outline-dark" style="text-align: right;" href="detail/{{ post.id }}">Detail</a>
                                    <a class="btn btn-outline-dark" style="text-align: left;" href="delete/{{ post.id }}">Hapus</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-outline-dark" href="matkul">Tambah</a>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}