{% extends 'story4/base.html' %}

{% load static %}

{% block judul %}
<title>Music</title>
{% endblock judul %}

{% block body %}
<body>
    <div class="container">
        <div class="row" style="text-align: center;margin-top: 100px;">
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/4HBZA5flZLE435QTztThqH" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
            </div>
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/0u2P5u6lvoDfwTYjAADbn4" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/3nef5W8jTkXrOKgCu4kmq7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top: 100px;">
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/6QPKYGnAW9QozVz2dSWqRg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/4aebBr4JAihzJQR0CiIZJv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col">
                <iframe src="https://open.spotify.com/embed/track/1PWnAEQcbwQwK759otUbta" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
       
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>
{% endblock body %}