{% extends 'story4/base.html' %}
{% load static %}

{% block judul %}
<title>Kegiatan</title>
{% endblock judul %}
{% block body %}

<h1 style="text-align: center; font-size: 10vh; color: rgb(177, 94, 255); margin-top: 100px;">Daftar Kegiatan </h1>
    <div class="row" style="margin-left: 25px;">
     
    <form method="POST", action="/kegiatan/addKegiatan" enctype="multipart/form-data" style="color: rgb(177, 94, 255);">
        {% csrf_token %}
            {{formK.as_p}}
          <button class="btn btn-outline-success" type="submit">Tambah</button>
    </form>
    <br>
    </div>
    <div class="row" style="margin: 10px;">
    {% for isi in KEGIATAN %}
        <div class="card" style="width: 18rem; margin: 15px;">
            <div class="card-body" style="background-color: rgba(1, 1, 82, 0.529);">
                <h5 class="card-title">{{isi.namaKegiatan}}</h5>
                
            </div>
            <ol class="list-group list-group-flush">
                {% for peserta in PESERTA %}
                    {% if peserta.kegiatans.namaKegiatan == isi.namaKegiatan %}
                    <div class="col" >   
                        <li class="list-group-item" style="color: rgb(177, 94, 255);">{{peserta.namaPeserta}}</li>
                    </div>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="card-body">
                <form method="POST", action="/kegiatan/addPeserta/{{isi.id}}" enctype="multipart/form-data" style="color: rgb(177, 94, 255);">
                    {% csrf_token %}
                        {{formP.as_p}}
                      <button class="btn btn-outline-success" type="submit">Tambah</button>
                </form>
            </div>
         </div>
        {% endfor %}
    </div>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


{% endblock body %}