html, body{
    font-size: 100%;
    background-color: #000;
}
.text{
  text-align: center;
  font-size: 75px;
  color: darkviolet;
}
form{
  text-align: center;
}
.an{
  font-size: 30px;
}
.accordion{
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.reorder-up, .reorder-down{
  display: inline-block;
  float: right;


}
.accordion dt, 
.accordion dd{
    padding: 10px;
    border: 1px solid rgb(199, 2, 2);
    color: rgb(255, 255, 255);
}
.accordion dt a,
.accordion dd a{
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.accordion dt{
    background-color: rgb(0, 34, 97);
    border-radius: 0%;
}
.accordion dd{
    margin: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: 1rem;
}
.accordion dd:last-of-type{
    border-block-width: 1px;
}
