*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.backImg{
    width: 100%;
    height: 100vh;
    background-image: url('bck1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: bisque;
}
.profile{
    width: 400px;
    background-color: rgb(0,0,0,0.4);
    padding: 30px 0;
    border-radius: 10%;
}
img{
    height: 250px;
    border-radius: 70%;
    margin-bottom: 20px;
}
.biodata{
    margin-bottom: 20px;
    color: floralwhite;

}
.biodata h2{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;

}
.npm{
    color:bisque;
}
.biodata h3{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;

}
i{
    color: floralwhite;
}
.school{
    width: 100%;
    height: 100vh;
    background-image: url('bck1.jpg');
    background-size: cover;
    color: floralwhite;
}
.quote{
    height: 80px;
    position: relative;
    width: 400px;
    border: none;
    border-radius: 10%;
    background-color: rgb(0,0,0,0.4);
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
}
.table{
    align-items: left 20;
    text-align: left 20;

}
th, td{
    width: 200px;
    height: 20px;
    text-align: left 20;
}
li{
    text-align: center 30;
}

