<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    
    

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jqgoogleapis.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    
    <style>
     
    </style>

    <title>Accordion</title>
  </head>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="Home">Oba Pakpahan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Bio">Bio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="Edu">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Expe">Experiences</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="story1">Task-1</a>
                      <a class="dropdown-item" href="daftar">Task-5</a>
                      <a class="dropdown-item" href="task-7">Task-7</a>
                      <a class="dropdown-item" href="daftar-buku">Task-8</a>
                      <a class="dropdown-item" href="addition">Addition</a>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
</header>
  <body style="margin-top: 10%; background-color: black;">

    <div class="text"><h1 style="font-size: 100%;"> Hello There!</h1></div>

    <form action="">
      <input type="text" id="inputText" placeholder="Your name">
      <input type="submit">
    </form>

    <dl class="accordion">
      <div class="siyung">
        <dt><a class="an" href="">What i do recently?</a><a style="margin-top: -35px;" href="#" class="reorder-up"><i class="fa fa-arrow-up"></i></a> <a style="margin-top: -15px;" href="#" class="reorder-down"><i class="fa fa-arrow-down"></i></a> </dt>
        <dd>Online life: 
          <ul> 
            <li> studying online </li>
            <li> communicating online </li>
            <li> working online </li>
          </ul>
          </dd>
      </div>
      <div class="siyung">
        <dt><a class="an" href="">Experiences</a><a  style="margin-top: -35px;" href="#" class="reorder-up"><i class="fa fa-arrow-up"></i></a> <a style="margin-top: -15px;" href="#" class="reorder-down"><i class="fa fa-arrow-down"></i></a></dt>
        <dd><ul><li>Betis</li>
        <li>TBM</li>
      <li>PMKA</li></ul></dd>
      </div>
      <div class="siyung">
        <dt><a class="an" href="">Hobbies</a><a  style="margin-top: -35px;" href="#" class="reorder-up"><i class="fa fa-arrow-up"></i></a> <a style="margin-top: -15px;" href="#" class="reorder-down"><i class="fa fa-arrow-down"></i></a></dt>
        <dd><ul><li>Swimming</li>
        <li>Listening to music</li>
      <li>Watching movie</li></ul></dd>
      </div>
      <div class="siyung">
        <dt><a class="an" href="">Achievements</a><a  style="margin-top: -35px;" href="#" class="reorder-up"><i class="fa fa-arrow-up"></i></a> <a style="margin-top: -15px;" href="#" class="reorder-down"><i class="fa fa-arrow-down"></i></a></dt>
        <dd><ul><li>First Winner OSK Informatika 2018</li>
        <li>Finalist OSP Informatika 2018</li>
      <li>Silver Medall Methodist Expo 2018 (Informatika)</li></ul></dd>
      </div>
    </dl>


    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
      
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>